<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>YTAudiofinder</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/s1.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
	<div class="bg-image"></div>
	<div class="bg-text">
		<div>
			
			<div style="float:left; width: 30%;">
				{% for i,t in enum(timestr) %}
		        <div style="background-color: #000; float: left; width: 50%;" class="result">
		            <p style="font-size: 1vw;">Result {{i+1}} at time {{t}}</p>
		        </div>
		        <div style="height: 2px; width:100%; clear:both;"></div>
		        {% endfor %}
			</div>
			<div style="width: 50%;aspect-ratio: 7/5; background-color: '#ff0000'; float: left;">
				<iframe width="100%" height="100%" src="{{ url_for_vid }}" id="video" allow="autoplay">
				</iframe>
			</div>
		</div>
		<script type="text/javascript" src="../static/app.js?v=1.1"></script>
		<script type="text/javascript">[times, timestr] = getTimes({{ times|tojson }}, {{ timestr|tojson }});</script>
		
		<div style="float: right; width: 20%;">
			<div style="float: left;">
				<button id="prev" style="font-size: 1vw;">Previous</button>
			</div>
			<div style="float: right;">
				<button id="nxt" style="font-size: 1vw;">Next</button>
			</div>
		</div>
		<div style="float: left;">
			<button id="backHome" style="font-size: 1vw;" onclick="window.location='/';">Back to home </button>
		</div>
	</div>
</body>
</html>

