<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<style>
		body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
	</style>
</head>
<body style="background-color: #002010; color: #ffffff;">
	<h1 style="text-align: center;">YT Audiofinder</h1>
	<h3 style="text-align: center;">Search a Youtube video for instances when a word or phrase was spoken</h3>
	<div style="padding: 120px;">
		<form action="/searchResult" method="post">
			<p>YouTube Video ID or Link</p>
			<input type="text" name="link">
			<p>Word to search for</p>
			<input type="text" name="word" width="50px">
			<p>Timestamp to start searching (timestamp in seconds, defaults to start of video):</p>
			<input type="number" name="startTime" min="0" max="10800" value="0">
			<p>Timestamp to stop searching (timestamp in seconds, defaults to end of video):</p>
			<input type="number" name="stopTime" min="1" max="10800" value="1">
			<p>Max number of occurences to find (defaults to 5)</p>
			<input type="number" name="n" min="0" value="5">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>