<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/s1.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
</head>
<body>
	<div class="bg-image"></div>
	<div class="bg-text">
		<h1 align="center">VidSearch-Audio</h1>
		<h3 align="center">Search a Youtube video for instances when a word or phrase was spoken</h3>
		<div style="padding: 4%;">
			<form action="/searchResult" method="post">
				<p>YouTube Video ID or Link</p>
				<input type="text" name="link" required>
				<p>Word to search for</p>
				<input type="text" name="word" width="50px" required>
				<p>Timestamp to start searching (timestamp in seconds, defaults to start of video):</p>
				<input type="number" name="startTime" min="0" max="10800" value="0">
				<p>Timestamp to stop searching (timestamp in seconds, defaults to end of video):</p>
				<input type="number" name="stopTime" min="1" max="10800" value="1">
				<p>Max number of occurences to find (defaults to 5)</p>
				<input type="number" name="n" min="0" value="5">
				<button type="Submit">Submit</button>
			</form>
			
		</div>
	</div>
</body>
</html>